/* Green Ellipse
.green-ellipse {
  position: absolute;
  left: -26.56%;
  right: -29.06%;
  top: 10.04%;
  bottom: -3.87%;
  border-radius: 50%;

  background: #0f7561;
  opacity: 0.9;
}

Yellow Ellipse

.yellow-ellipse {
  position: absolute;
  width: 581px;
  height: 713.3px;
  left: -106px;
  top: 323px;
  border-radius: 50%;

  background: #fcc832;
}

Red Circle
.red-ellipse {
  position: absolute;
  width: 325px;
  height: 315px;
  left: 184px;
  top: -157px;

  background: #fe554a;
} */

body {
  background-color: #ffffff;
}

.green-ellipse {
  background-image: url("./green-ellipse.png");
  position: absolute;
  left: 1%;
  right: 90%;
  top: 10.04%;
  bottom: -3.87%;
  border-radius: 50%;
  background-repeat: no-repeat;
}

.yellow-ellipse {
  background-image: url("./yellow-ellipse.png");
  position: absolute;
  width: 581px;
  height: 713.3px;
  left: -106px;
  top: 323px;
  border-radius: 50%;
  background-repeat: no-repeat;
}

.red-ellipse {
  background-image: url("./red-ellipse.png");
  position: absolute;
  width: 325px;
  height: 315px;
  left: 184px;
  top: 2px;
  background-repeat: no-repeat;
}

.title {
  /* N u t r o */

  position: absolute;
  width: 209px;
  height: 42px;
  left: 55px;
  top: 125px;

  font-family: Nunito Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 40px;
  line-height: 55px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.02em;

  color: #ffffff;

  transform: rotate(0.17deg);
}

.sub-text {
  /* Text */
  position: absolute;
  left: 3.12%;
  right: 3.75%;
  top: 40.67%;
  bottom: 47.36%;

  font-family: Nunito Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 23.617px;
  line-height: 112%;
  /* or 26px */

  display: flex;
  align-items: flex-end;
  text-align: center;
  letter-spacing: -0.787234px;

  color: #ffffff;
}

.btn {
  position: absolute;
  width: 116px;
  height: 33px;
  left: 102px;
  top: 482px;
}
